.post-type-archive-adventure {
  .adventure-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 500px;
    grid-gap: 2%;

    margin: 5% 0 10%;

    .adventure {
      padding: $base-spacing;
    }

    .adventure-content {
      height: 100%;
    }

    h3 {
      color: white;
      font-family: 'Merriweather', sans-serif;
      font-size: 3em;
      font-weight: lighter;
      line-height: 1.25;
      text-transform: none;
      

      &:hover,
      &:active,
      &:target {
        color: $yellow-brand-colour;
      }
    }
  }
}

.single-adventure {
  --coverWidth: 100vw;
  --coverHeight: calc(var(--coverWidth) * 2 / 3);


  .entry-thumbnail {

    height: var(--coverHeight);
  }

  .post-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    
    height: 100vh;
    // width: 100vw;
    z-index: -1;
  }

  .entry-content {
    max-width: 800px;
    margin: 0 auto;
  }

  .entry-header {
    text-transform: uppercase;

    h1 {
      font-size: 2.5em;
      margin-bottom: 0;
    }
  }

  .entry-meta {
    font-size: 1.25em;
    a {
      color: $dark-grey-font;
    }
  }

  .entry-body {
    margin: 5% 0 10%;
  }

  .black-sm-button {
    padding: 10px 20px;

    background-color: white;
    border: 1px solid black;
    border-radius: 0;
    text-transform: uppercase;
  }
}