  // Overlapping blog design structure
.blog, .single-post {
  .site-content {
    display: grid;
    grid-template-columns: 8fr 3fr;
  }

  .content-area {
    padding: $blog-structure-padding $blog-structure-padding 0 0;

    border-right: 1px solid $light-grey-border;
  }

  .widget-area {
    padding: $blog-structure-padding 0 0 $blog-structure-padding;
  }

}

/*
=========================
Individual blog entries
=========================
*/

.blog, .single-post {
  // .site-content {
  //   max-width: $content-width;
  //   margin: 0 auto;
  // }

  article {

    .entry-header {
      position: relative;
  
      width: 100%;
      // height: 100%;

      text-transform: uppercase;
  
      h1, .entry-title {
        position: absolute;
        width: 75%;
        margin: 5% 0;
        padding: 1% 4.5%;
        
        background-color: $green-brand-colour;
        color: white;
        font-size: 2em;

        a {
          color: white;
        }
      }
  
      .entry-meta {
        position: absolute;
        right: 0;
        bottom: 7px;

        padding: 0.5% 5%;

        background-color: $green-brand-colour;
        color: white;

        a {
          color: white;
        }
      }
    }
  }
}