.site-footer {
  width: 100vw;

  background: url('./images/dark-wood.png') repeat center;
  color: white;

  a {
    color: white;

    &:hover,
    &:active,
    &:target {
      text-decoration: underline;
    }
  }

  .footer-widget-title {
    margin-top: 0;

    color: $orange-brand-colour;
    font-size: 1.25em;
    text-transform: uppercase;
  }

  .footer-info {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;

    max-width: $content-width;
    padding: 5% 0 2.5%;
    margin: 0 auto;  

    .text-logo {
      justify-self: end;

      width: 50%;
      margin-right: 10%;
      
      img {
        max-width: 300px;
      }
    }
  }

  .site-info p {
    text-align: center;
    text-transform: uppercase;
  }

  .footer-widget-title {
    text-align: start;
  }
}