.home.page {
  /*
  =========================
  General Front Page Styles
  =========================
  */
  
  .entry-header {
    height: 90vh;
    background: url('./images/inhabitent-logo-full.svg') no-repeat center 40%;
    background-size: 25%;
    z-index: 1;
    
    h1 {
      display: none;
    }
  }

  .wp-block-cover {
    position: absolute;
    top: 0;
    left: 0;
    
    height: 100vh;
    width: 100vw;
    z-index: -1;
  }

  h2 {
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
  }

  section {
    margin: 5% 0;

    > div {
      margin-top: 5%;
    }
  }

  /*
  =========================
  Shop Stuff on Front Page Styles
  =========================
  */

  .shop-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%;
  }

  .product-type {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
    padding: 12px;
    
    text-align: center;
    border: 1px solid $light-grey-border;
    border-top: 5px solid $light-grey-border;
    
    &:hover,
    &:active,
    &:focus {
      border: 1px solid $orange-brand-colour;
      border-top: 5px solid $orange-brand-colour;
    }
    
    img {
      width: 30%;
    }
  }

  /*
  =========================
  Articles on Front Page Styles
  =========================
  */


  h3 {
    text-transform: uppercase;
  }

  /*
  =========================
  Journal on Front Page Styles
  =========================
  */

  .journal-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
    justify-items: center;
  }
  
  .journal {
    display: flex;
    flex-flow: column nowrap;
    
    width: 100%;

    .img {
      width: 80%;
    }
    
    .journal-content {
      display: flex;
      flex-flow: column nowrap;
      
      height: 100%;
      padding: $base-spacing / 2;
  
      border: 1px solid $light-grey-border;
      border-top: 5px solid $light-grey-border;
    }
    
    .journal-meta {
      margin: 0;

      a {
        color: $dark-grey-font;
        font-size: 0.75em;

        &:hover,
        &:active,
        &:target {
          color: $dark-grey-font;
        }
      }
    }

    h3 {
      margin: 0;
      margin-bottom: 10%;

      color: $green-brand-colour;
      font-size: 1.5em;
      line-height: 1.25;

      &:hover,
      &:active,
      &:focus {
        color: $purple-brand-colour;
      }
    }

    .dark-read-more-button {
      margin-top: auto;
      margin-bottom: $base-spacing / 4;
    }
  }

  /*
  =========================
  Adventures on Front Page Styles
  =========================
  */

  .adventure-section {
    --wrapperWidth: 100vw;
    --gutter: 20px;
    --noOfColumns: 4;

    --noOfGutters: calc(var(--noOfColumns) - 1);

    --rowHeight: calc((var(--wrapperWidth) - var(--noOfGutters) * var(--gutter)) / var(--noOfColumns));

    .green-read-more-button {
      font-size: 1.25em;
    }
  }
  
  @media screen and (min-width: 1120px) {
    .adventure-section {
      --wrapperWidth: 1120px;
    }
  }

  .adventure-container {
    display: grid;
    grid-template-columns: repeat(var(--noOfColumns), 1fr);
    grid-auto-rows: var(--rowHeight);
    grid-gap: var(--gutter);
    grid-template-areas:
    "big big wide wide"
    "big big small1 small2";

    width: var(--wrapperWidth);

    .adventure-0 {
      grid-area: big;

      h3 {
        font-size: 3em;
      }
    }

    .adventure-1 {
      grid-area: wide;
      
      h3 {
        font-size: 2.5em;
      }
    }

    .adventure-2 {
      grid-area: small1;
    }

    .adventure-3 {
      grid-area: small2;
    }

    .adventure-content {
      padding: 20px;
    }

    h3 {
      color: white;
      font-family: 'Merriweather', sans-serif;
      font-size: 1.75em;
      font-weight: lighter;
      line-height: 1.25;
      text-transform: none;

      &:hover,
      &:active,
      &:target {
        color: $yellow-brand-colour;
      }
    }
  }
}