/*
=========================
Site Head Styles
=========================
*/

.site-header {
  padding: .5rem 0;
  
  div {
    max-width: $content-width;
    margin: 0 auto;
  }

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

.site-branding {
  width: $brand-logo-width;
  height: $brand-logo-width * 2 / 3;
}

/*
=========================
General Navagation Styles
=========================
*/


.main-navigation ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;

  li {
    padding: 0 10px
  }

  a {
    color: $green-brand-colour;
    text-transform: uppercase;

    &:hover {
      color: $purple-brand-colour;
    }
  }
}

.home {
  .main-navigation ul a {
    color: white;
    &:hover {
      color: $yellow-brand-colour;
    }
  }
}