/*
=========================
Site Head Styles
=========================
*/

.site-header {
  padding: .5rem 0;
  
  div {
    max-width: $content-width;
    margin: 0 auto;
  }

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

.site-branding {
  width: $brand-logo-width;
  height: $brand-logo-width * 2 / 3;

  a {
    width: 100%;
    height: 100%;
  }
}

/*
=========================
General Navagation Styles
=========================
*/

.main-navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

  div {
    margin: 0;
  }
}

.main-navigation ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;


  li {
    padding: 0 15px
  }

  a {
    color: $green-brand-colour;
    text-transform: uppercase;

    &:hover {
      color: $purple-brand-colour;
    }
  }
}

/*
=========================
Search Styles
=========================
*/

.search-form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  
  .search-toggle {
    display: inline-block;
    margin-left: 10px;

    color: $green-brand-colour;
    &:hover {
      cursor: pointer;
    }
  }

  .search-field {
    margin: 0;
    margin-left: 20px;

    background: none;
    border: none;

    &:hover,
    &:active,
    &:target,
    &:focus {
      border: none;
      outline: none;
    }
  }
}

/*
=========================
Dark Theme Header Styles
=========================
*/

.home, .page-template-page-about, .single-adventure {
  .site-branding {
    a {
      background: url('./images/inhabitent-logo-tent-white.svg');
      background-size: 100%;
    }

    img {
      display: none;
    }
  }

  .main-navigation ul a {
    color: white;
    text-shadow: 1px 1px 5px black;

    &:hover {
      color: $yellow-brand-colour;
    }
  }

  .search-form {
    .search-toggle, .search-field, .search-field::placeholder {
      color: white;
      text-shadow: 1px 1px 5px black;
    }
  }
}

/*
=========================
Light Theme Header Styles
=========================
*/

body:not(.home):not(.page-template-page-about):not(.single-adventure) {
  .site-header {
    border-bottom: 1px solid $light-grey-border;
  }
}