/*
=========================
General Styles
=========================
*/

body {
  font-size: 16px;
  line-height: 1.75;
}

.site, .page {
  margin: 0;
}

.site-content {
  max-width: $content-width;
  min-height: 60vh;
  margin: 0 auto;
}

/*
=========================
Font Styles
=========================
*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Novecentosanswide-Medium', sans-serif;
  font-weight: bolder;
}

.entry-meta {
  font-family: 'Novecentosanswide-Book', sans-serif;
}

p {
  font-family: 'Merriweather', sans-serif;
}


/*
=========================
Site Content Styles
=========================
*/

a {
  text-decoration: none;
}

.dark-read-more-button {
  margin: $base-spacing 0;

  a {
    padding: $base-spacing / 2  $base-spacing;
    
    border: 1px solid black;
    color: black;
    font-family: 'Novecentosanswide-Medium', sans-serif;
    text-transform: uppercase;

    &:hover,
    &:active,
    &:target,
    &:focus {
      background-color: $green-brand-colour;
      border: 1px solid $green-brand-colour;
      color: white;
    }
  }
}

.green-read-more-button {
  margin: $base-spacing 0;

  a {
    padding: $base-spacing / 2  $base-spacing;
    
    background-color: $green-brand-colour;
    border: 1px solid $green-brand-colour;
    color: white;
    font-family: 'Novecentosanswide-Medium', sans-serif;
    text-transform: uppercase;

    &:hover,
    &:active,
    &:target,
    &:focus {
      background-color: darken($green-brand-colour, 10%);
      border: 1px solid darken($green-brand-colour, 10%);
    }
  }
}

.adv-read-more-button {
  a {
    padding: $base-spacing / 2  $base-spacing;
    
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    
    &:hover,
    &:active,
    &:target {
      background-color: $green-brand-colour;
      border: 1px solid $green-brand-colour;
    }
  }
}

.black-sm-button {
  padding: $base-spacing / 2 $base-spacing;

  background-color: white;
  border: 1px solid black;
  border-radius: 0;
  font-size: 0.9em;
  text-transform: uppercase;

  .fab {
    padding-right: $base-spacing / 3;
  }
}