/*
=========================
General Styles
=========================
*/

.container {
  max-width: 1120px;
  margin: 0 auto;
}

/*
=========================
Site Content Styles
=========================
*/

// body {
//   margin: 0 20px;
// }

a {
  text-decoration: none;
}