.archive {
  .site-header {
    border-bottom: 1px solid $light-grey-border;
  }

  .page-header {
    padding: 5% 0;
    border-bottom: 1px dashed $light-grey-brand-colour;

    text-transform: uppercase;
  }

  h1 {
    text-align: center;
  }

  .shop-type-nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    max-width: 400px;
    margin: 0 auto;

    list-style: none;

    a {
      color: $green-brand-colour;

      &:hover,
      &:active,
      &:target {
        color: $purple-brand-colour;
      }
    }
  }
}