.archive {
  // .site-main {
  //   max-width: $content-width;
  //   margin: 0 auto;
  // }

  .site-header {
    border-bottom: 1px solid $light-grey-border;
  }

  .page-header {
    padding: 5% 0;
    border-bottom: 1px dashed $grey-dashed-border;
    text-align: center;
  }

  h1 {
    text-transform: uppercase;
  }

  .taxonomy-description {
    text-transform: none;
  }

  .shop-type-nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    max-width: 400px;
    margin: 0 auto;

    list-style: none;
    text-transform: uppercase;

    a {
      color: $green-brand-colour;

      &:hover,
      &:active,
      &:target {
        color: $purple-brand-colour;
      }
    }
  }
}