.single-product {
  .product-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4%;

    padding: 5% 0;
  }

  .entry-content {
    margin: 0;
  }

  h1 {
    margin: 0;

    color: $orange-brand-colour;
    font-size: 2.5em;
    text-transform: uppercase;
  }

  .price {
    margin: 0;

    font-family: 'Novecentosanswide-Book', sans-serif;
    font-size: 2em;
    font-weight: bold;
  }
}