.widget-area {
  h3 {
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: $green-brand-colour;
  }

  span {
    font-weight: bold;
  }

  .widget_archive {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}