.widget-area {
  .widget-title {
    font-size: 1.5em;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: $green-brand-colour;

    &:hover,
    &:active,
    &:focus {
      color: $purple-brand-colour;
    }
  }

  span {
    font-weight: bold;
  }

  .fas {
    width: $base-spacing / 4;
    margin-right: $base-spacing;
  }

  .widget_archive {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}