// Overlapping two-column design structure
.blog, .single-post, .search-results, .page-template-default:not(.home) {
  .site-content {
    display: grid;
    grid-template-columns: 8fr 3fr;

    margin-bottom: 2.5%;
  }

  .content-area {
    padding: $blog-structure-padding $blog-structure-padding 0 0;
  }

  .widget-area {
    padding: $blog-structure-padding 0 0 $blog-structure-padding;
    
    border-left: 1px solid $light-grey-border;
  }
}