/*
=========================
Dimensions Variables
=========================
*/

$content-width: 1120px;
$brand-logo-width: 50px;

$blog-structure-padding: 3.5vw;


/*
=========================
Colours Variables
=========================
*/
$green-brand-colour: #248A83;
$purple-brand-colour: #2f1339;
$orange-brand-colour: #d99054;
$yellow-brand-colour: #f0e4d1;
$light-grey-brand-colour: #a1a1a1;
$medium-grey-brand-colour: #808080;

$dark-grey-font: #404040;
$light-grey-border: #e1e1e1;